<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
  xmlns:context="http://www.springframework.org/schema/context"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd"
  default-lazy-init="true">

  <description>Resource</description>

  <!-- For mail settings and future properties files -->
  <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
    <property name="systemPropertiesModeName" value="SYSTEM_PROPERTIES_MODE_OVERRIDE" />
    <property name="order" value="1" />
    <property name="ignoreResourceNotFound" value="true" />
    <property name="properties">
      <props>
        <prop key="image.Uri">/var/www/webdtu/images</prop>
        <prop key="image.externalUrlPrefix">http://static.webdtu.net/images/</prop>
      </props>
    </property>
    <property name="locations">
      <list>
        <value>classpath:jdbc.properties</value>
        <!-- production env -->
        <value>file:/etc/webdtu/application.properties</value>
      </list>
    </property>
  </bean>

  <!-- JNDI DataSource for J2EE environments -->
  <!--<jee:jndi-lookup id="dataSource" jndi-name="java:comp/env/jdbc/appfuse"/>-->

  <bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource" destroy-method="close">
    <property name="driverClassName" value="${jdbc.driverClassName}" />
    <property name="url" value="${jdbc.url}" />
    <property name="username" value="${jdbc.username}" />
    <property name="password" value="${jdbc.password}" />
    <property name="maxActive" value="100" />
    <property name="maxWait" value="1000" />
    <property name="poolPreparedStatements" value="true" />
    <property name="defaultAutoCommit" value="true" />
    <property name="timeBetweenEvictionRunsMillis" value="3600000" />
    <property name="minEvictableIdleTimeMillis" value="3600000" />
  </bean>

<!--  <bean id="mongo" class="org.springframework.data.mongodb.core.MongoFactoryBean">
      <property name="host" value="${mongo.host}" />
      <property name="port" value="${mongo.port}" />
  </bean>-->
  <!--
  <bean id="userCredentials" class="org.springframework.data.authentication.UserCredentials">
        <constructor-arg name="username"  value="${mongo.username}"/>
        <constructor-arg name="password"  value="${mongo.password}"/>
  </bean>
   -->
<!--  <bean id="mongoTemplate" class="org.springframework.data.mongodb.core.MongoTemplate">
      <constructor-arg name="mongo" ref="mongo" />
      <constructor-arg name="databaseName" value="${mongo.dbname}"/>
      &lt;!&ndash; <constructor-arg ref="userCredentials"/> &ndash;&gt;
  </bean>-->

  <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
    <property name="dataSource" ref="dataSource"/>
  </bean>

  <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver"
        p:defaultEncoding="UTF-8" >
    <property name="maxUploadSize" value="104857600" />
    <property name="maxInMemorySize" value="4096" />
  </bean>

</beans>
